@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-normal;
  font-size: $font-size;
  color: $font-color;
  color: var(--font-color);
  background: $body_background;
  background: var(--body);
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0 1em;
  margin: 0;
}

input,
a,
button,
.btn,
.form-control {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus,
    &:hover,
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

a {
  color: $primary;
  color: var(--color-primary);
  text-decoration: none;
  @include transition(color ease .3s);

  &:focus,
  &:hover {
    color: $secondary;
    color: var(--color-secondary);
    @include transition(color ease .3s);

  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-header;
}

h1,
h2 {
  color: $primary-dark;
  color: var(--color-primary-dark);
}

.center {
  text-align: center;
}

main, header {
  max-width: $body_max_width;
  margin: 0 auto;
  position: relative;
}

h1 {
  &.name {
    margin: 1em 0 0rem;
    font-size: 3em;

    @media only screen and (min-width: 930px) {
      margin: 2em 0 0 -2.5rem;
    }

    +p {
      margin: 0 0 1em 0;
      font-size: 1.25em;
    }
  }
}

h2 {
  margin-top: 2em;

  main > & {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    
    &::before, 
    &::after {
      content: '';
      overflow: hidden;
      flex: 1;
      background-image: linear-gradient(to right, $primary 20%, rgba(255, 255, 255, 0) 0%);
      background-position: 0 100%;
      background-size: 0.4em 2px;
      background-repeat: repeat-x;
    }

    &::after {
      margin: 0 0 .5em .4em;
    }

    &::before {
      margin: 0 0.3em .5em 0;
      @media only screen and (max-width: 880px) {
        content: none;
      }
    }
  }
}

h3 {
  > nav {
    margin-left: 0.3rem;
    line-height: 1em;
  }
}

h1~ {
  ul {
    padding-left: 0;
    padding-inline-start: 0px;

    >li {
      list-style: none;
      margin: 0 0 .25em;
    }
  }
}

ul {
  padding-left: 1.5em;
  padding-inline-start: 1.5em;
  margin-top: 0;

  @media only screen and (max-width: 880px) {
    margin-bottom: 0;
  }

  >li {
    margin: 0 0 .25em;
  }
}

section {
  font-size: $font-size-smaller;
  margin: 0 0 2em;
  >p {
    margin: .25em 0;
  }

  >div:not(:last-of-type) ul {
    margin-bottom: 0;
  }
}

hgroup { 
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;

  > * {
    margin: 0;
  }

  >p {
    margin: .25em 0;
  }

  h3, p:not(:last-child) {
    flex-wrap: nowrap;
    flex: 1;
    display: flex;

    &::after {
      content: '';
      width: 100%;
      display: flex;
      overflow: hidden;
      flex: 1;
      margin: 0 0.3rem 0.5rem .5rem;
      background-image: linear-gradient(to right, $font-color 10%, rgba(255, 255, 255, 0) 0%);
      background-image: linear-gradient(to right, var(--font-color) 10%, rgba(255, 255, 255, 0) 0%);
      background-position: 0 100%;
      background-size: 0.5em 1px;
      background-repeat: repeat-x;
    }
  }

  h4, p:last-child {    
    flex: initial;
    display: inline-block;
    font-size: .9em;
    font-weight: $font-normal;
    line-height: 1.5em;
    text-align: right;
    flex-direction: column;
  }
}

nav {
  display: inline-block;

  .grid & {
    text-align: center;
  }

  >a {
    vertical-align: middle;
  }

  img {
    height: .85em;
    @include transition(margin ease .3s);

    &.large {
      height: 3em;
    }

    .grid & {
      &:hover {
        margin-top: -3px;
        margin-bottom: 3px;
        @include transition(margin ease .3s);
      }
    }
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(#{($body_max_width - 20) / 3}, 1fr));
}

footer {
  margin: 5em 0 2em;
  padding: 1em 0;
  text-align: center;
  font-size: $font-size-smaller;
}
