@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-normal;
  font-size: $font-size;
  color: $font-color;
  background: $body_background;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0 1em;
  margin: 0;
}

input,
a,
button,
.btn,
.form-control {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus,
    &:hover,
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

a {
  color: $primary;
  text-decoration: none;
  @include transition(color ease .3s);

  &:focus,
  &:hover {
    color: $secondary;
    @include transition(color ease .3s);

  }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: $font-header;
}

.center {
  text-align: center;
}

main {
  max-width: $body_max_width;
  margin: 0 auto;
  position: relative;
}

h1 {
  &.name {
    margin: 1em 0 0rem;
    font-size: 3em;

    @media only screen and (min-width: 880px) {
      margin: 2em 0 0 -2.5rem;
    }

    +p {
      margin: 0 0 1em 0em;
    }
  }
}

h2 {
  margin-top: 2em;
}

h1~ {
  ul {
    padding-left: 0;
    padding-inline-start: 0px;

    >li {
      list-style: none;
      margin: 0 0 .25em;
    }
  }
}

ul {
  padding-left: 1.5em;
  padding-inline-start: 1.5em;
  margin-top: 0;

   @media only screen and (max-width: 880px) {
     margin-bottom: 0;
   }

  >li {
    margin: 0 0 .25em;
  }
}

section {
  font-size: $font-size-smaller;
  margin: 0 0 2.5em;

  >h3 {
    margin-bottom: 0;

    >i {
      font-size: .8em;
      font-weight: $font-normal;
      line-height: 1.5em;
      float: right;
    }
  }

  >p {
    margin: .25em 0;
  }
}

nav {
  display: inline-block;

  .grid & {
    text-align: center;
  }

  > a {
    vertical-align: middle;
  }
  img {
    height: .85em;
    @include transition(margin ease .3s);

    &.large {
      height: 3em;
    }

    .grid & {
      &:hover {
        margin-top: -2px;
        @include transition(margin ease .3s);
      }
    }
  }
}
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(#{($body_max_width - 20) / 3}, 1fr));
}

footer {
  margin: 3em 0 2em;
  padding: 1em 0;
  text-align: center;
  font-size: $font-size-smaller;
}
