/*Import Fonts*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway:400,500&display=swap');

$font-size: 15pt;
$font-size-larger: 20pt;
$font-size-smaller: 12pt;
$font-primary: 'Quicksand', sans-serif;
$font-header: 'Raleway', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 600;

$font-color: #333;
$font-color-dark: #111;

$primary: #2c7873;
$primary-dark: darken($primary, 10%);
$secondary: #52de97;
$orange: #ffba5a;

@media (prefers-color-scheme: dark) { 

}


$body_background: #f0f0f0;
$nav-height: 90px;

$body_max_width: 800px;

:root {
    --color-primary: #{$primary};
    --color-primary-dark: #{$primary-dark};
    --color-secondary: #{$secondary};
    --color-orange: #{$orange};
}