/*Import Fonts*/
@import url('https://fonts.googleapis.com/css?family==Montserrat:300,400|Source+Sans+Pro:300,400,600&display=swap');

$font-color: #333333 !default;
$font-color-dark: #111111 !default;
$font-size: 16px;
$font-size-larger: 20px;
$font-primary: 'Source Sans Pro', sans-serif;
$font-header: 'Montserrat', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 600;

$font-color: #fff;
$font-color-dark: #333;

$primary: #6EEB83;
$secondary: #1BE7FF;
$orange: #FF5714;
$yellow: #E4FF1A;
$marigold: #E8AA14;


$body_background: #efefef;

$nav-height: 90px;